        .background {
        background: #2F303A;
         color: white;
        width: 696px;
        height: 120px;
      }
      .button{
       background: #2196F3;
       color: white;
      }
      footer{
        background: #2F303A;
        color: white;
      }